{{#if cart.content}}
{{#each cart.content}}
{{!-- content[this] --}}
{{#with this.product}}
<div class="card d-flex flex-row">
  <div class="card-image">
    <img class="cart-img" src="{{imgs.[0]}}" alt="{{imgs.[0]}}" />
  </div>
  <div class="card-body">
    <h4>{{ name }}</h4>
    <form action="/cart/update/{{ this._id }}" method="POST">
      {{> _item_opts opt=../this.opt is_cart=(compare ../../title "Cart")}}
      <select name="count" onchange="this.form.submit()">
        <!-- todo: handlebars iterator -->
      </select>
      <!-- todo: update cart action -->
    </form>
  </div>
</div>
{{/with}}
{{/each}}
{{else}}
<h3 class="text-center mt-5">Your cart is empty</h3>
{{/if}}
